<ng-container>
  <div class="contenedor-privacidad">
    <ion-content>
      <div class="contenido-interno">
        <h1>Eliminación de datos de usuario</h1>
        <p>Si desea eliminar su información asociada a esta aplicación, puede hacerlo en la opción "Logueo con Facebook" en la 
          página principal o enviando un correo a <strong>tridentedelagloria&#64;gmail.com</strong> solicitando la eliminación de sus datos.
        </p>
        <p>También puede revocar el acceso directamente desde su configuración de Facebook en "Aplicaciones y sitios web"
           (las opciones correspondientes de Facebook para realizar esta acción pueden variar o cambiar de lugar en 
           distintas versiones de la aplicación).
        </p>
        <p>
          Atentamente,
        </p>
        <p class="signature">
          El equipo de El Tridente de La Gloria.
        </p>
      </div>
    </ion-content>
  </div>
</ng-container>