<ion-header>
  <ion-toolbar style="--background: #5d2222; --color: #fff;">
    <ion-title style="text-align: center; font-weight: 700; text-transform: uppercase;">ALTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="altas-content">
  <ion-grid class="altas-grid">
    <ion-row class="altas-row">
      <ion-col size="12" sizeMd="12" sizeLg="12">
        <ion-button expand="block" size="large" (click)="irAAltaUsuarios()" class="altas-button">
          <ion-icon slot="start" name="person-add"></ion-icon>
          ALTA DE USUARIOS
        </ion-button>
      </ion-col>
      <ion-col size="12" sizeMd="12" sizeLg="12">
        <ion-button expand="block" size="large" color="tertiary" (click)="irAMesas()" class="altas-button">
          <ion-icon slot="start" name="grid-outline"></ion-icon>
          GESTIÓN DE MESAS
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

