<ion-header>
    <ion-toolbar>
      <ion-title>Resultados de encuestas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  
    <!-- estado: cargando -->
    <div *ngIf="cargando" class="center">
      <ion-spinner name="crescent"></ion-spinner>
      <div class="hint">Cargando resultados…</div>
    </div>
  
    <!-- estado: error -->
    <ion-card *ngIf="!cargando && errorMsg">
      <ion-card-header>
        <ion-card-title>Hubo un problema</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ errorMsg }}
      </ion-card-content>
    </ion-card>
  
    <!-- contenido -->
    <ng-container *ngIf="!cargando && !errorMsg">
  
      <!-- Limpieza (barras verticales) -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Calificación</ion-card-subtitle>
          <ion-card-title>Limpieza del local</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="chart" *ngIf="limpiezaData?.length">
            <ngx-charts-bar-vertical
              [results]="limpiezaData"
              [xAxis]="true"
              [yAxis]="true"
              [roundDomains]="true"
              [animations]="true">
            </ngx-charts-bar-vertical>
          </div>
          <div class="empty" *ngIf="!limpiezaData?.length">Sin datos aún.</div>
        </ion-card-content>
      </ion-card>
  
      <!-- Aspecto más valorado (pie grid) -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Preferencias</ion-card-subtitle>
          <ion-card-title>Aspecto más valorado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="chart" *ngIf="aspectoValoradoData?.length">
            <ngx-charts-pie-grid
              [results]="aspectoValoradoData"
              [animations]="true">
            </ngx-charts-pie-grid>
          </div>
          <div class="empty" *ngIf="!aspectoValoradoData?.length">Sin datos aún.</div>
        </ion-card-content>
      </ion-card>
  
      <!-- Servicios adicionales (barras horizontales) -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Sugerencias</ion-card-subtitle>
          <ion-card-title>Servicios adicionales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="chart" *ngIf="serviciosExtraData?.length">
            <ngx-charts-bar-horizontal
              [results]="serviciosExtraData"
              [xAxis]="true"
              [yAxis]="true"
              [roundDomains]="true"
              [animations]="true">
            </ngx-charts-bar-horizontal>
          </div>
          <div class="empty" *ngIf="!serviciosExtraData?.length">Sin datos aún.</div>
        </ion-card-content>
      </ion-card>
  
      <ion-button expand="block" (click)="salir()">Salir</ion-button>
    </ng-container>
  
  </ion-content>
  