<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Alta de mesa</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>{{ mesaId ? 'Editar mesa' : 'Alta de mesa' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="pa-4">
  <ion-item>
    <ion-label position="stacked">Número de mesa</ion-label>
    
    <ion-input type="number" [(ngModel)]="numero"    (ionInput)="updateBtnDisabled()" placeholder="Ej: 12"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Capacidad (1 a 12)</ion-label>
    <ion-input type="number" [(ngModel)]="capacidad" (ionInput)="updateBtnDisabled()"  placeholder="Ej: 4"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tipo</ion-label>
    <ion-select [(ngModel)]="tipo" 
                (ionChange)="updateBtnDisabled()"
                okText="CONFIRMAR"
                cancelText="CANCELAR">
      <ion-select-option value="estandar">Estándar</ion-select-option>
      <ion-select-option value="vip">VIP</ion-select-option>
      <ion-select-option value="mov_reducida">Movilidad reducida</ion-select-option>
    </ion-select>
  </ion-item>

  <div style="padding:16px;">
    <ion-button expand="block" color="primary" (click)="tomarFoto()">
      <ion-icon name="camera" slot="start"></ion-icon>
      Tomar foto de la mesa
    </ion-button>

    <div *ngIf="fotoPreview" style="margin-top:12px; text-align:center;">
      <ion-img [src]="fotoPreview" alt="Foto de la mesa" style="max-width:160px; margin:0 auto; border-radius:12px;"></ion-img>
      <div style="opacity:.75; margin-top:6px;">Previsualización</div>
    </div>
  </div>

  <div style="padding:16px;">
    <ion-button
      expand="block"
      color="primary"
      [disabled]="btnDisabled" 
      (click)="guardar()">
      <ion-icon name="save" slot="start"></ion-icon>

      {{ guardando ? 'Guardando...' : 'Guardar mesa' }}
    </ion-button>
  </div>


  <div *ngIf="qrPublicUrl || qrDataUrl" style="padding:16px; text-align:center;">
    <img
      [src]="qrDataUrl || qrPublicUrl"
      alt="QR de la mesa"
      style="max-width:240px; width:100%; border-radius:12px;"
    />
    <div style="margin-top:8px; opacity:.7;">Código QR generado</div>

     <ion-button style="margin-top:12px;" (click)="descargarQR()">
      <ion-icon name="download" slot="start"></ion-icon>
      Descargar QR
    </ion-button> -->
    <!-- <ion-button style="margin-top:14px;" (click)="nuevaMesa()">
      Crear otra mesa
    </ion-button> -->

    <!-- <div *ngIf="qrPublicUrl" style="margin-top:8px;">
      <a [href]="qrPublicUrl" target="_blank" rel="noopener">Ver QR en la nube</a>
    </div> -->
  <!-- </div>
  
</ion-content> --> 















<ion-header>
  <ion-toolbar>
    <ion-title>{{ mesaId ? 'EDITAR MESA #' + numero : 'ALTA DE MESA' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">CERRAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pa-4">
  <ion-item *ngIf="!mesaId">
    <ion-label position="stacked">NÚMERO DE MESA</ion-label>
    <ion-input type="number"
               [(ngModel)]="numero"
               (ionInput)="updateBtnDisabled()"
               placeholder="EJ: 12"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">CAPACIDAD (1 A 12)</ion-label>
    <ion-input type="number"
               [(ngModel)]="capacidad"
               (ionInput)="updateBtnDisabled()"
               placeholder="EJ: 4"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">TIPO</ion-label>
    <ion-select [(ngModel)]="tipo" 
                (ionChange)="updateBtnDisabled()"
                okText="CONFIRMAR"
                cancelText="CANCELAR">
      <ion-select-option value="estandar">ESTÁNDAR</ion-select-option>
      <ion-select-option value="vip">VIP</ion-select-option>
      <ion-select-option value="mov_reducida">MOVILIDAD REDUCIDA</ion-select-option>
    </ion-select>
  </ion-item>

  <div style="padding:16px;">
    <ion-button *ngIf="!mesaId" expand="block" color="primary" (click)="tomarFoto()">
      <ion-icon name="camera" slot="start"></ion-icon>
      TOMAR FOTO DE LA MESA
    </ion-button>

    <div style="padding:16px;">
      <ion-button
        expand="block"
        color="primary"
        [disabled]="btnDisabled"
        (click)="guardar()">
        <ion-icon name="save" slot="start"></ion-icon>
        {{ guardando ? 'GUARDANDO...' : 'GUARDAR MESA' }}
      </ion-button>
    </div>
    
    <div *ngIf= "!mesaId && fotoPreview" style="margin-top:12px; text-align:center;">
      <ion-img [src]="fotoPreview" alt="Foto de la mesa"
               style="max-width:160px; margin:0 auto; border-radius:12px;"></ion-img>
      <div style="opacity:.75; margin-top:6px;">PREVISUALIZACIÓN</div>
    </div>
  </div>

</ion-content>
