
<ion-content class="register-content" fullscreen>
  <div class="wrapper">
    <ion-card class="card">
      <ion-card-content>
        <div class="form-container">

          <!-- Form NORMAL por defecto -->
          <div class="form1" *ngIf="!ingresarAnonimo">
            <app-registro-cliente></app-registro-cliente>
          </div>

          <!-- Form ANÓNIMO al activar perilla -->
          <div class="form2" *ngIf="ingresarAnonimo">
            <app-registro-cliente-anonimo></app-registro-cliente-anonimo>
          </div>

          <div class="toggle">
            <ion-toggle
              [(ngModel)]="ingresarAnonimo"
              aria-label="Ingresar con usuario Anónimo">
              Ingresar con usuario Anónimo
            </ion-toggle>
          </div>

        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

