<ion-header class="client-header">
  <ion-toolbar>
    <div class="nav-pill">Memoria</div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="wrap">
    <ion-card class="panel">
      <ion-card-content>
        <div class="status">
          <div>Movimientos: <b>{{ moves }}</b></div>
          <div *ngIf="finished" class="disc">Descuento: <b>{{ discount }}%</b></div>
        </div>

        <div class="board">
        <div class="card"
            *ngFor="let c of cards"
            [class.done]="c.done"
            [class.face]="c.face || c.done"
            (click)="flip(c)">
          <div class="front">?</div>
          <div class="back">{{ c.emoji }}</div>
        </div>

        </div>

        <div class="actions">
          <ion-button class="primary" expand="block" (click)="claim()">Reclamar descuento</ion-button>
          <ion-button expand="block" routerLink="/cliente/cliente-juegos">Volver</ion-button>
          <ion-button expand="block" fill="outline" (click)="reset()">Jugar de nuevo</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
