<!-- CAMBIO: agregar [fullscreen]="true" -->
<ion-content [fullscreen]="true" class="pa-4">
  <div class="admin-wrap">
    <!-- <div class="client-header">
      <div class="nav-pill">PANEL ADMINISTRADOR</div>
    </div> -->
     
    <ion-header>
      <ion-toolbar>
        <ion-title>PANEL ADMINISTRADOR</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid fixed class="admin-actions">
      <ion-row class="gap-y">
        <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" (click)="irAListaDeEspera()">
            <ion-icon slot="start" name="checkmark-done-circle"></ion-icon>
            Verificación de clientes
          </ion-button>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" color="secondary" (click)="irAAltaUsuarios()">
            <ion-icon slot="start" name="person-add"></ion-icon>
            Alta de usuarios (Dueño/Supervisor)
          </ion-button>
        </ion-col>

        <!-- <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" color="tertiary" (click)="irAAltaMesa()">
            <ion-icon slot="start" name="restaurant"></ion-icon>
            Alta de mesa
          </ion-button>
        </ion-col> -->
        <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" color="tertiary" (click)="irAMesas()">
            <ion-icon slot="start" name="grid-outline"></ion-icon>
            Mesas
          </ion-button>
        </ion-col>
        

        <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" color="medium" (click)="irAResultados()">
            <ion-icon slot="start" name="stats-chart"></ion-icon>
            Resultados de encuestas
          </ion-button>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" color="warning" (click)="irAReservas()">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            Gestionar Reservas
          </ion-button>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
