<ion-header>
  <ion-toolbar style="--background: #5d2222; --color: #fff;">
    <ion-title style="text-align: center; font-weight: 700; text-transform: uppercase;">
      BIENVENIDO{{ nombreCliente ? ' ' + nombreCliente.toUpperCase() : '' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="client-content">
  <div class="client-wrap" [class.anonimo]="!esClienteRegistrado">

    <!-- Mensaje alusivo para factura lista -->
    <div *ngIf="facturaUrl" class="factura-message empty-message">
      <div class="empty-icon">🧾</div>
      <div class="empty-title">¡TU FACTURA ESTÁ LISTA!</div>
      <div class="empty-subtitle">Descarga tu factura de forma rápida y segura</div>
      <div class="empty-description">Tu comprobante está disponible para descargar</div>
      
      <div class="factura-actions">
        <ion-button 
          class="btn-descargar-factura" 
          fill="solid" 
          expand="block" 
          size="large"
          (click)="descargarFactura()">
          <ion-icon slot="start" name="download-outline"></ion-icon>
          DESCARGAR FACTURA
        </ion-button>
        
        <ion-button 
          class="btn-cerrar-factura" 
          fill="outline" 
          expand="block" 
          size="default"
          (click)="cerrarMensajeFactura()">
          CERRAR
        </ion-button>
      </div>
    </div>

    <ion-grid fixed class="client-actions">
      <ion-row class="gap-y">
        <ion-col size="12">
          <ion-button expand="block" size="large" (click)="scanQr()">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            ESCANEAR QR
          </ion-button>
        </ion-col>
        
        <ion-col size="12" *ngIf="esClienteRegistrado">
          <ion-button expand="block" size="large" color="secondary" (click)="hacerReserva()">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            HACER RESERVA
          </ion-button>
        </ion-col>

        <ion-col size="12" *ngIf="esClienteRegistrado">
          <ion-button expand="block" size="large" color="tertiary" (click)="hacerPedidoDelivery()">
            <ion-icon slot="start" name="bicycle-outline"></ion-icon>
            PEDIDO REPARTIDOR
          </ion-button>
        </ion-col>

        <ion-col size="12">
          <ion-button expand="block" size="large" color="medium" (click)="verEncuestas()">
            <ion-icon slot="start" name="albums-outline"></ion-icon>
            VER ENCUESTAS ANTERIORES
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
