<ion-content class="pa-4">
  <div class="bartender-cocinero-wrap">

    <ion-grid fixed>

      <ion-row class="gap-y">

        <ion-col size="12" sizeMd="6">
          <ion-button expand="block" size="large" (click)="irAAgregarNuevoPlato()">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            Agregar nuevo plato
          </ion-button>
        </ion-col>
        
        <ion-col size="12" sizeMd="6">
        <ion-button expand="block" size="large" color="secondary" (click)="irAAgregarNuevaBebida()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Agregar nueva bebida
        </ion-button>
      </ion-col>

      </ion-row>

    </ion-grid>

  </div>
</ion-content>
