<ng-container>
  <div class="contenedor-privacidad">
    <ion-content>
      <div class="contenido-interno">
        <h1>Política de Privacidad</h1>
        <p>Esta aplicación utiliza el inicio de sesión de Facebook únicamente para autenticar y loguear usuarios. La misma 
          obtendrá datos e información personal de su cuenta de Facebook (a saber: nombre, sobrenombre, correo electrónico 
          y foto de perfil). La información de la cuenta será confidencial y no se compartirá información personal con 
          terceros. No se almacenará la información de la cuenta de Facebook de manera directa; sin embargo, al interactuar 
          con la aplicación, podrá quedar guardada parte o toda la información en un registro en nuestras bases de datos 
          de esas interacciones.</p>
        <p>Los datos básicos (como nombre o correo electrónico) se usarán solo para identificar al usuario dentro del sistema,
          apareciendo estos al navegar por la aplicación (por ejemplo, en la bienvenida luego de iniciar sesión) como parte de 
          la experiencia del usuario.
        </p>
        <p>
          El uso de esta aplicación supone la aceptación de esta política de privacidad.
        </p>
        <p>
          Atentamente,
        </p>
        <p class="signature">
          El equipo de El Tridente de La Gloria.
        </p>
      </div>
    </ion-content>
  </div>
</ng-container>