<!-- <ion-content [fullscreen]="true" class="memoria-content">

  <div class="fila-superior">
    <div class="select-play-row">
      <ion-select interface="popover" [(ngModel)]="dificultad" (ionChange)="seleccionarDificultad(dificultad)" class="dificultad-select">
        <ion-select-option value="facil">Fácil</ion-select-option>
        <ion-select-option value="medio">Medio</ion-select-option>
        <ion-select-option value="dificil">Difícil</ion-select-option>
      </ion-select>
      <button class="play-fab" (click)="iniciarJuego()" [disabled]="juegoIniciado">
        <img src="assets/play.jpg" alt="Jugar" />
      </button>
    </div>
    <div class="timer-row" *ngIf="juegoIniciado && showTimer">
      ⏰ {{timer}}s
    </div>
  </div>


  <div class="memory-grid"
    [ngClass]="{
      'grid-facil': dificultad==='facil',
      'grid-medio': dificultad==='medio',
      'grid-dificil': dificultad==='dificil'
    }"
    *ngIf="juegoIniciado">
    <ng-container *ngFor="let card of cards">
      <button
        class="memory-card"
        [class.revealed]="card.revealed || card.matched"
        (click)="selectCard(card)">
        <img *ngIf="card.revealed || card.matched" [src]="card.image" />
        <div *ngIf="!card.revealed && !card.matched" class="card-back"></div>
      </button>
    </ng-container>
  </div>

  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab-ranking">
    <ion-fab-button (click)="goToRanking()" color="success">
      <img src="assets/copa.png" alt="Ranking" />
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-salir">
    <ion-fab-button color="danger" (click)="logOut()">
      <img src="assets/salir.jpg" alt="Salir" />
    </ion-fab-button>
  </ion-fab>
</ion-content> -->

<ion-content [fullscreen]="true" class="memoria-content">

    <div class="bienvenida">
    <h1>Bienvenido!!</h1>
  </div>

  <!-- FAB Salir -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-salir">
    <ion-fab-button color="danger" (click)="logOut()">
      <img src="assets/salir.jpg" alt="Salir" />
    </ion-fab-button>
  </ion-fab>
</ion-content>

